<div class="users">
  <div class="users-me clicked">
    <img class="me-head"  src="<%= @headurl %>" >
    <div class="me-info">
      <span class="me-name"><%= @name %></span>
      <span class="me-papersum"><%= @papersNum %></span>
      <span class="me-myfriends"><%= @friendsNum %></span>
      </div>
  </div>  
  <div class="users-myfriends">
     <ul>
   <!--    <li><img src="assets/head1.png" /><span>name </span></li>
   <li><img src="assets/head1.png" /> <span>name</span></li>-->
     </ul>
  </div>
</div>
<div class="desktop">
  <div id="my-folders-wrapper" class="folders-wrapper">
    <div id="my-folders" class="folders">
      <ul>
        <li class="folder add-folder">
          <div class="add-tag"><span><a href=""><img src="assets/upload-add.png"/></a></span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="template" id="folder-template">
  <div class="tag-nav">
    <div id="papers-<%%= id %>" class="papers">
      <ul>
        <div class="index-upload">
          <form action="/metadata" method="post"  enctype="multipart/form-data" >
            <input class="upload" type="file" value="" onchange="this.form.submit();" name="file"/>
          </form>
        </div>
        <div class="titles">
        </div>
        <div class="more-bg"><img src="assets/new/morepapers-bg.png"></div>
      </ul>
    </div>
    <div class="cb"></div>
  </div>
  <div class="recent-box">
    <h1><%%= name %></h1>
  </div>
</script>
<script type="text/template" id="title-template">
  <span class="star"> <a><img src="assets/star-<%%= yellow_or_white %>.png" /></a></span>
  <a class="ml20" href="/fulltext/<%%= docid %>" id="detail<%%= id %>" data-id="<%%= id%>"><%%= title %></a>
  <span class="tag-color"><a><img src="assets/tag-color<%%= colorid %>.png" /></a></span>
</script>
<script type="text/template" id="user-me-template">
  <img class="me-head"  src="<%%= headurl %>" />
  <div class="me-info">
    <span class="me-name"><%%= name %></span>
    <span class="me-papersum"><%%= numPapers %></span>
    <span class="me-myfriends"><%%= numFriends %></span>
  </div>
</script>
<script type="text/template" id="friend-template">
  <li><img src="<%%= headurl %>" /><span><%%= name %></span></li>
</script>
