<div class="top">
  <div class="wrapper">
    <div class="logo"> FeastMind</div>
    <div class="user-basicinfo" > <img   src="<%= @headurl %>"  /> <a class="username"><%= @name %></a> </div>
    <div class="user-honorinfo">
      <ul>
        <!--<li><img src="#" /><a href="#"> info1</a></li>
        <li><img src="#" /><a href="#"> info2</a></li>
        <li><img src="#" /><a href="#"> info3</a></li>
        <li><img src="#" /><a href="#"> info4</a></li>
        <li><img src="#" /><a href="#"> info5</a></li>-->
        <div style="clear:both"></div>
      </ul>
    </div>
  </div>
</div>
<div class="sidebar-left ">
  <div class="tag-nav">
    <div class="index-upload">
      <form action="/metadata" method="post"  enctype="multipart/form-data" >
        <input class="upload" type="file" value="" onchange="this.form.submit();" name="file"/>
      </form>
    </div>
    <div id = "papers">
      <ul>
      </ul>
    </div>
    <div class="cb"></div>
  </div>
  <div class="recent-box"> <span class="tag-more"><a href="/manage"><img src="assets/more.png" /></a></span>
    <h1>最近阅读</h1>
  </div>
</div>
</div>
<div class="sidebar-right ">
  <div class="freshthings" id = "freshthings">
    <ul>
    </ul>
  </div>
  <div class="index-friends" id="index-friends">
  <div class="full-friends" >
    <ul>
    </ul>
  </div>
</div>
</div>
<script type="text/template" id="title-template">
  <span class="star"> <a><img src="assets/star-<%%= yellow_or_white %>.png" /></a></span><a class="ml20" href="#" id="detail<%%= id%>" data-id="<%%= id%>"><%%= title %></a><span class="tag-color"><a><img src="assets/tag-color<%%= colorid %>.png" /></a></span></li>
</script>
<script type="text/template" id="friend-template">
  <img src="<%%= headurl %>" /><a href="#"><%%= name %></a>
</script>
<script type="text/template" id="log-template">
  <img class="header-img" src="<%%= headurl %>" />
  <div class="status"><span class="username"><%%= content %></span></div>
  <div class="coment-content"> 我的评论</div>
  <div class="coment-info">
    <span class="time"><%%= created_at %></span>
    <span class="action"><a>转发</a><a>收藏</a><a>评论</a></span>
  </div>
  <div class="cb"></div>
</script>
