<div class="reading-title">
  <h1><a>论文题目</a></h1>
</div>
<div class="reading-tag">
  <div class="wrapper">
    <ul >
      <!--<li>tag3</li>-->
    </ul>
    <input class="add-btn" value="add" type="button" /> 
  </div>
</div>
<div class="reading-profile" >
  <h1 class="reading-author">
    <span>作者：</span><em> 姓名</em>
  </h1>
  <h1 class="reading-date" >
    <span>发表日期：</span><em> 日期</em>
  </h1>
  <div class="reading-abstract">
    <h1>abstract</h1>
    <p>abstract 内容</p>
  </div>
</div>
<div class="reading-comments"> 论文评论 </div>
<script type="text/template" id="tag-template">
  <%%= name %>
</script>
