<div class="reading-title">
  <!--  <h1><a>论文题目</a></h1> -->
</div>
<div class="reading-tag">
  <div class="wrapper">
    <ul >
      <!--<li>tag3</li>-->
    </ul>
    <input class="add-btn" value="add" type="button" /> 
  </div>
</div>
<div class="reading-profile" >
  <ul class="reading-entries">
    <!--<li>
      <span>作者：</span><em> 姓名</em>
    </li>
    <li>
      <span>发表日期：</span><em> 日期</em>
      </li>-->
  </ul>
  <div class="reading-abstract">
    <h1>abstract</h1>
  </div>
</div>
<div class="reading-comments"> Comments </div>
<script>
  var metadata_id = <%= @metadata_id %>;
</script>
<script type="text/template" id="title-template">
  <h1><a href="/reader?docid=<%%= docid %>"><%%= title %></a></h1>
</script>
<script type="text/template" id="tag-template">
  <%%= name %>
</script>
<script type="text/template" id="abstract-template">
  <h1>Abstracts</h1>
  <p><%%= abstract %></p>
</script>
<script type="text/template" id="detail-entry-template">
  <li><span><%%= name %></span><em><%%= value %></em></li>
</script>
