<h1 class="index-logo"> feastmind logo</h1>
<p class="index-slogan"> manange read </p>
<div class="renrenlogin">
 <form><a href="https://graph.renren.com/oauth/authorize?client_id=73eadd1f183144cfaef24c6a8513a857&response_type=code&redirect_uri=http://www.feastmind.com/renren/login&display=page "> 人人登录 </a></form>
</div>
