<div id="container">
    <div id="hwrapper">
        <ul class="multi-image">
           
        </ul>
    </div>
</div>
<script>
  var DOCID = <%= @docid %>;
</script>
<script type="text/template" id="pageview-template">
  <img src=<%%= src %>>
</script>
