<div class="note-myself">
        <ul>
        <li>
        <h1><span>username</span> <span>username</span></h1>
        <p>笔记笔记笔记</p>
        </li>
        </ul>
        <div class="myimg"><a><img src="#" /></a></div>
        </div>
     
<div id="container">    
    <div id="hwrapper">
       <ul class="multi-image">
           
        </ul>
    </div>
</div>
<div class="bottom-toolbar">
  <div class="wrapper">
    <span class="zoom1">&nbsp;</span>
    <span class="zoom2">&nbsp;</span>
    <span class="line"><div class="pagination">1</div></span>
    <span class="arrow1">&nbsp;</span>
    <span class="arrow2">&nbsp;</span>
  </div>
</div>

<div class="note-myfriends">
</div>
<script>
  var DOCID = <%= @docid %>;
</script>
<script type="text/template" id="pageview-template">
  <img src=<%%= src %>>
</script>
