<div class="docid" data-docid= <%=@docid%> ></div>
<div id="container">
    <div id="hwrapper">
        <ul class="multi-image">
           
        </ul>
    </div>
</div>
<script type="text/template" id="fulltext-template">
    <div  id="vwrapper<%%= pagenum %>" class="vw">
        <ul class = "vul">
            <li>
              <img src=<%%= src %>>
            </li>
        </ul>
    </div>
</script>