<!--<div class="myimg"><a><img src="<%= @headurl%>" width="60px" height="60px"/></a></div>
<div class="friendsimg"><a><img src="/assets/head1.png" width="50px" height="50px"/></a><a><img src="/assets/head2.png" width="50px" height="50px"/></a> <a><img src="/assets/head3.png" width="50px" height="50px"/></a></div> -->
<!-- <div class="note-myself">
        <ul>
        <li>
        <h1><span class="username">username</span> <span class="date">2012.05.23 10:00am</span></h1>
        <p>论文笔记内容，阅读体会论文</p>
        </li>
        <li>
        <h1><span class="username">username</span> <span class="date">2012.05.23 10:00am</span></h1>
        <p>论文笔记内容，阅读体会论文笔记内容，阅读体会</p>
        </li>
        </ul>
        </div>
        -->  


      
       
<div id="container" class="unselectable">    
  <div id="wholewrapper">
    <div class="others-note-pane">
    </div>
    <div id="hwrapper">
       <ul id="multiimage" class="multi-image">
<!--<div class="highlight1"></div>
<div class="highlight2"></div>
<div class="guideline1"></div>
<div class="guideline2"></div>-->
<!--<div class="note-myfriends">
<ul>
<li>
<h1><span class="username">username</span> <span class="date">2012.05.21 2:00pm</span></h1>
<p>朋友的笔记myfriends's note的笔记myfriends's note的笔记myfriends's note</p>
</li>
<li>
<h1><span class="username">username</span> <span class="date">2012.05.21 2:00pm</span></h1>
<p>朋友的笔记myfriends's note的笔记myfriends's note的笔记myfriends's note</p>
</li>
</ul>
</div>
-->   
        <div class="float-bar">
            <span id="copy" class="fbtn copy-btn">复制</span>
            <span class="fbtn hl-btn">高亮</span>
            <span class="fbtn note-btn">添加笔记</span>
        </div>
        <div class="note-bar">
            <textarea class="nbtn text" rows="5" cols="28"></textarea>
            <span class="nbtn cancel-btn">取消</span>
            <span class="nbtn conf-btn">确定</span>
        </div>
        </ul>
    </div>
      <div class="note-pane">
      </div>
  </div>
  <div class="bottom-toolbar">
    <div class="wrapper">
      <span class="zoom1">&nbsp;</span>
      <span class="zoom2">&nbsp;</span>
      <span class="line" id="line"><!--<div class="pagination">1</div>--><strong class="pscroller"><strong class="progress"></strong></strong></span>
      <span class="arrow1">&nbsp;</span>
      <span class="arrow2">&nbsp;</span>
    </div>
  </div>
</div>
<script>
  var PAPERID = <%= @paper_id %>;
  var DOCID = "<%= @docid %>";
</script>
<script type="text/template" id="note-template">
        <div class="note-area" data-t = "<%%= boundingBox.t*16 %>" > <%%= content.replace(/\n/g,"<br/>") %> </div>
</script>
<script type="text/template" id="pageview-template">
  <div class="highlight-forever"></div>
  <div class="highlight-pane"></div>
  <img src=<%%= src %> style="display:none; width:<%%= width %>; height:<%%= height %>;">
</script>
<script type="text/template" id="selection-highlight-template">
  <div class="selection-highlight" style="left:<%%= l %>em;top:<%%= t %>em;width:<%%= w %>em;height:<%%= h %>em;"></div>
</script>
<script type="text/template" id="highlight-forever-template">
  <%% _.each(rects, function(rect) { %>
      <div class="forever-highlight" style="left:<%%= rect.l %>em;top:<%%= rect.t %>em;width:<%%= rect.w %>em;height:<%%= rect.h %>em;"></div>
  <%% }); %>
</script>
<script type="text/template" id="selection-bar-template">
  <div class="selection-bar <%%= barType %>" 
       style="left:<%%= l %>em;top:<%%= t %>em;width:<%%= w %>em;height:<%%= h %>em;"  
       data-type="<%%= barType %>" >
    <div class="selection-bar-handler upper-handler"></div>
    <div class="selection-bar-handler lower-handler"></div>
  </div>
</script>
