@charset "utf-8";
/* CSS Document */
html { font-size:62.5%; }
html,body{height:100%;}

.index-wrapper{height:100%; width:100%; position:relative; background-color:#666;}
.sidebar-left {float:left; min-height:100%; width:30%; background-color:#999; }
.sidebar-right {float:right; min-height:100%; width:70%; background-color: #CCC; }
.user-basicinfo{ height:10em; }
.tag-nav{border-bottom:1px solid #000;}
.index-upload{ text-align:center;}
.user-honorinfo{height:10em; text-align:center;}
 




