@charset "utf-8";
/* CSS Document */
html { font-size:62.5%; }
html,body{height:100%; } 

.reading-title{ width:100%; position:relative; text-align:center;background-color: #434343; }
.reading-tag{height:30px; width:100%;text-align:center;background-color: #09F; }
.reading-profile{  float:left; height:100%; width:40%; text-align:center; background-color: #D2D2D2;}
.reading-comments{ float:right;height:100%;text-align:center; width:60%; text-align:left; background-color: #ECECEC;}


