<div class="top">
  <div class="wrapper">
    <div class="logo"> FeastMind</div>
    <div class="user-basicinfo" > <img   src="<%= @headurl%>"  /> <a class="username"><%= @name%></a> </div>
    <div class="user-honorinfo">
      <ul>
      </ul>
    </div>
  </div>
</div>
<div id="wrapper">
  <div class="all-tag">
    <ul>
      <li>
        <div class="add-tag"><span><a href=""><img src="assets/upload-add.png"/></a></span></div>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
</script>
<script type="template" id="folder-template">
  <div class="tag-sub-nav">
    <div class="index-upload">
      <form >
        <input class="upload" type="file" value=""/>
      </form>
    </div>
    <div class="titles" id="titles-<%%= id %>">
    </div>
  </div>
  <div class="tag-box"> </span>
  <h1><%%= name %></h1>
  </div>
  <div class="cb"></div>
</script>
<script type="template" id="title-template">
  <span class="star"><a><img src="assets/star-<%%= yellow_or_white %>.png"/></a></span><a href="#"><%%= title %></a><span class="tag-color"><a><img src="assets/tag-color<%%= colorid %>.png" /></a></span>
</script>
