body{
background:url(/assets/bg.png);
height:100%;
width:100%;
}
#container{
    height:100%;
    width:816px;
    margin:0 auto;
    overflow-y:hidden;
}
.multi-image img{
    height:1056px;
    width:816px;
}
#hwrapper{
    height: 100%;
}
.multi-image{
    width:100%;
}
.bottom-toolbar{
position:absolute;	
height:35px;
bottom:0px;
width:100%;
background:url(/assets/reading-bottom-bg.png) repeat-x;
overflow:hidden;
}
.bottom-toolbar .wrapper{
position:relative;
float:left;
left:50%;
}
.bottom-toolbar span{
margin-top:5px;
position:relative;
float:left;
left:-50%;  
}
.line{
position:relative;
top:10px;
height:10px;
width:650px;
background-color:#fff;
border-radius:5px;
box-shadow: inset 2px 2px 5px rgba(0,0,0,0.4);
}
.pagination{
position:absolute;
width:30px; 
height:31px;
top:-35px;
left:10px;
color:#000;
text-align:center;
z-index:100;
background:url(/assets/reading-pagination-icon.png) no-repeat;
}
.zoom1,.zoom2,.arrow1,.arrow2{
display:block;
width:45px;
height:25px;
}
.zoom1,.zoom2{
margin-right:25px;
}
.arrow1,.arrow2{
margin-left:45px;
}
.zoom1{background:url(/assets/reading-zoom1-icon.png) no-repeat;}
.zoom2{background:url(/assets/reading-zoom2-icon.png) no-repeat;}
.arrow1{background:url(/assets/reading-arrow1-icon.png) no-repeat;}
.arrow2{background:url(/assets/reading-arrow2-icon.png) no-repeat;}

.note-myself{
position:absolute;
left:0px;
top:250px;
z-index:100;
}
.note-myfriends{
position:absolute;
right:-200px;
top:280px;
z-index:999;d
}

.note-myself li{
margin-top:15px;
position:relative;
top:15px;
left:5px;
max-width:200px;
min-height:60px;
padding:3px;
border-radius:5px;
background-color:rgba(255,255,0,0.5);
border:1px solid rgba(255,255,255,0.3);
}
.note-myfriends li{
margin-top:20px;
position:relative;
top:25px;
right:5px;
max-width:220px;
min-height:60px
padding:3px;
border-radius:5px;
background-color:rgba(255,0,0,0.3);
box-shadow:inset 2px 2px 8px rgba(0,0,0,0.3);
border:1px solid  rgba(255,255,255,0.4);
}
.note-myself li .username{font-size;16px; color:#630; float:left; }
.note-myself li .date{font-size;12px; color:#fff;; float:right; }
.note-myself li p{clear:both; font-size:12px; text-indent:2em; color:#09c;}

.note-myfriends li .username{font-size;16px; color:#630; float:left; }
.note-myfriends li .date{font-size;12px; color:#FFF;; float:right; }
.note-myfriends li p{clear:both; font-size:12px; text-indent:2em; color:#000;}

.myimg{
position:absolute;
width:60px; height:60px;
left:15px; bottom:45px;
border:2px solid #fff;
}
.friendsimg{position:absolute;
float:right;
width:50px; height:50px;
right:15px; bottom:150px;

}

.highlight1{position:absolute;
width:320px;height:60px;
top:300px; left:300px;
background-color:yellow;
opacity:0.4;
z-index:10000;}
.highlight2{position:absolute;
width:230px;height:15px;
top:325px; left:330px;
background-color:red;
opacity:0.4;
z-index:10000;}

.guideline1{
display:none;
position:absolute;
width:320px;height:60px;
top:310px; left:150px;
border-top:1px solid yellow;
z-index:10000;
opacity:0.6;}

.guideline2{
display:none;
position:absolute;
width:650px;height:15px;
top:335px; left:500px;
border-top:1px solid red;
z-index:10000;opacity:0.6;}
