body{
background:url(/assets/desk.png);
height:100%;
width:100%;
  overflow: hidden;
font-family:"arial" "微软雅黑" ;
}
#container{
  height:100%;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  /* 16px is the base font size of everything in viewport*/
  font-size: 16px;
 background: url(/assets/bg-light.png) top center no-repeat,  
              url(/assets/bg-shadow.png) bottom no-repeat; 
  background-size: auto,cover;
  box-shadow: inset 2px 0px 100px rgba(68,21,4,0.5);
}
.multi-image img{
box-shadow:4px 0px 10px rgba(0,0,0,0.15),-4px 0px 10px rgba(0,0,0,0.15),0px 4px 10px rgba(0,0,0,0.15),0px -4px 10px rgba(0,0,0,0.15);
}
#wholewrapper{
  margin: 0 auto;
}
#hwrapper{
    float:left;
}
.highlight-pane {
  position: relative;
  z-index: 10;
}
.selection-highlight {
  position: absolute;
  opacity: 0.20;
  background-color: #28F;
}
.forever-highlight {
  position: absolute;
  opacity: 0.20;
  background-color: yellow;
}
.float-bar{
  position:absolute;
  top:0px;
  left:0px;
  height:38px;
  width:108px;
  z-index: 30;
}
.fbtn{
height:38px;
  width:50px;
float:left;
}
.copy-btn{
display:block;
background:url(/assets/reading-edit-icon.png) no-repeat;
width:35px;
overflow:hidden;
text-indent:-1000em;
height:38px;
}
.hl-btn{
display:block;
background:url(/assets/reading-edit-icon.png) no-repeat -35px;
width:35px;
overflow:hidden;
text-indent:-1000em;
height:38px;
}
.note-btn{
display:block;
background:url(/assets/reading-edit-icon.png) no-repeat -70px;
width:35px;
overflow:hidden;
text-indent:-1000em;
height:38px;
}
.note-bar{
  position:absolute;
  border-top:10px solid #81d7ff;
  top:0px;
  left:0px;
  width:260px;
  display:none;
  z-index: 35;
  box-shadow:0px 2px 4px rgba(0,0,0,0.3);
  background:url(/assets/text-line.png) 10px 0px,-webkit-linear-gradient( bottom ,#d5ccb4,#fff,#e7e5d8);
}
.note-bar .note-info{
padding:5px;
border-bottom:1px solid #d5e2de;
}

.note-bar .note-info span{
color:#8d772b;
font-size:1em;
padding:0px 5px;
}
.note-bar .text-area{
width:100%;
}
.note-me{
font-size:1.2em;
}
.text{
display: block;
width: 100%;
line-height: 31px;
background-color:transparent;
border:none;
}



.conf-btn{
display:block;
border:1px solid;
width:35px;
overflow:hidden;
height:30px;
float:right;
margin-right:10px;
cursor:pointer;
}
.cancel-btn{
position:absolute;
display:block;
height:18px;
width:18px;
float:right;
top:5px;
right:10px;
background:url(/assets/cancle-btn.png) no-repeat;
text-indent:-9999px;
overflow:hidden;
cursor:pointer;
}

.selection-bar {
  position: absolute;
  background-color: #28f;
  	
}
.selection-bar-handler {
  position: absolute;
  background-color: #28f;
  height: 1.0em;
  width: 1.0em; 
  display: none;

  border-radius: 0.5em;
}
.upper-handler {
  margin-top: -1.0em;
  top: 0em;
  left: -0.375em;
}
.begin-bar .upper-handler {
  display: block;
}
.lower-handler {
  bottom: 0em;
  right: -0.375em;
  margin-bottom: -1.0em;
}
.end-bar .lower-handler {
  display: block;
}
.begin-bar {
  
}
.end-bar {
  
}
textarea {
	resize: none;
}
.multi-image{
  width:100%;
  position: relative;
}
.note-pane{
  position:relative;
  right:0px;
  top:0px;
  height:100%;
  width: 260px;
  //overflow:hidden;
  float:left;
 
}
.note-pane ul{
  position:relative;
  width:260px;
  height: 100%;
}
.note-pane li{
  position: absolute;
  width:260px;
}
.others-note-pane{
  position:relative;
  right:0px;
  top:0px;
  height: 1059px;
  width: 260px;
  overflow:hidden;
  float:left;
}
.others-note-pane ul{
  position:relative;
  width:260px;
  height: 1059px;
}
.others-note-pane li{
  position: relative;
  width:260px;
  float:left;
}
.note-area {
  position:relative;
  line-height:31px;
  border-radius:5px;
  margin:3px 5px;
  border-top:10px solid #81d7ff;
  //height:145px;
  width:260px;
  box-shadow:0px 2px 4px rgba(0,0,0,0.3);
  background:url(/assets/text-line.png) 10px 0px,-webkit-linear-gradient( bottom ,#d5ccb4,#fff,#e7e5d8);
  text-align:baseline;
  padding:0 5px;
}
.bottom-toolbar{
position:absolute;	
height:35px;
bottom:0px;
width:100%;
background:url(/assets/reading-bottom-bg.png) repeat-x;
overflow:visible;
}

.line{
position:relative;
display:block;
top:10px;
margin-left:200px;
margin-right:200px;
height:10px;
width:auto;
background-color:#fff;
border-radius:5px;
box-shadow: inset 2px 2px 5px rgba(0,0,0,0.4);
}
.pscroller{
position:absolute;
height:30px;
width:650px;
border-radius:5px;
text-align:center;
top:-10px;
left:10px;
}

.progress.change::after{
content:attr(data-content);
display:block;
width:33px; 
height:35px;
margin-top:-35px;
margin-left:auto;
margin-right:auto;
color:#000;
text-align:center;
text-indent:-2px;
z-index:1000;
background:url(/assets/reading-pagination-icon.png)  no-repeat;

}
.transparent{
margin-top:10px;
float:left;
height:10px;
width:10px;
opacity:1;
}
.progress{
position:relative;
margin-top:10px;
float:left;
height:10px;
width:10px;
background-color:#999999;
border-radius:5px;
text-align:center;
overflow:visible;
}

.zoom1,.zoom2,.arrow1,.arrow2{
float:left;
display:block;
width:45px;
height:25px;
cursor:pointer;
}
.zoom{
position:absolute;
float:left;
top:5px;
left:5%;
z-index:100;
}
.arrow{
top:5px;
position:absolute;
float:right;
right:5%;
z-index:100;
}
.zoom1,.zoom2{
margin-right:10px;
}
.arrow1,.arrow2{
margin-left:10px;
}
.zoom1{background:url(/assets/reading-zoom1-icon.png) no-repeat;}
.zoom2{background:url(/assets/reading-zoom2-icon.png) no-repeat;}
.arrow1{background:url(/assets/reading-arrow1-icon.png) no-repeat;}
.arrow2{background:url(/assets/reading-arrow2-icon.png) no-repeat;}
.note-myself{
position:absolute;
left:0px;
top:250px;
z-index:100;
}
.note-myfriends{
position:absolute;
right:-200px;
top:280px;
z-index:999;
}

.note-myself li{
margin-top:15px;
position:relative;
top:15px;
left:5px;
max-width:200px;
min-height:60px;
padding:3px;
border-radius:5px;
background-color:rgba(255,255,0,0.5);
border:1px solid rgba(255,255,255,0.3);
}
.note-myfriends li{
margin-top:20px;
position:relative;
top:25px;
right:5px;
max-width:220px;
min-height:60px;
padding:3px;
border-radius:5px;
background-color:rgba(255,0,0,0.3);
box-shadow:inset 2px 2px 8px rgba(0,0,0,0.3);
border:1px solid  rgba(255,255,255,0.4);
}
.note-myself li .username{font-size:16px; color:#630; float:left; }
.note-myself li .date{font-size:12px; color:#fff;; float:right; }
.note-myself li p{clear:both; font-size:12px; text-indent:2em; color:#09c;}

.note-myfriends li .username{font-size:16px; color:#630; float:left; }
.note-myfriends li .date{font-size:12px; color:#FFF;; float:right; }
.note-myfriends li p{clear:both; font-size:12px; text-indent:2em; color:#000;}

.myimg{
position:absolute;
width:60px; height:60px;
left:15px; bottom:45px;
border:2px solid #fff;
}
.friendsimg{position:absolute;
float:right;
width:50px; height:50px;
right:15px; bottom:150px;

}

.highlight1{position:absolute;
width:320px;height:60px;
top:300px; left:300px;
background-color:yellow;
opacity:0.4;
z-index:10000;}
.highlight2{position:absolute;
width:230px;height:15px;
top:325px; left:330px;
background-color:red;
opacity:0.4;
z-index:10000;}

.guideline1{
display:none;
position:absolute;
width:320px;height:60px;
top:310px; left:150px;
border-top:1px solid yellow;
z-index:10000;
opacity:0.6;}

.guideline2{
display:none;
position:absolute;
width:650px;height:15px;
top:335px; left:500px;
border-top:1px solid red;
z-index:10000;opacity:0.6;}

.unselectable { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }

.highlight-forever { position: relative; z-index: 5; }
