@charset "utf-8";
/* z-index levels */
$users-z-index: 1000;
$users-width:   210px;
/* CSS Document */
html, body { 
  position:   relative; 
  width: 100%; 
  height:100%; 
  overflow:   hidden; 
}
.users{
  position:   absolute;
  z-index:    $users-z-index;
  left:       0px;
  top:        0px;
  height:     100%;
  background: url(/assets/new/users-bg.png) repeat-y;
  background-size:  100% 100%;
  width:      $users-width;
}
  .users-me{
    height:     70px;
    width:      180px;
    position:relative;
    font-size:  1em;
    color:      #fff;
    font-family:"arial" "黑体"; 
    box-shadow: 0px 1px rgba(0,0,0,0.8),
                0px 2px rgba(255,255,255,0.15);
  }
  .users-me.clicked {
    background: url(/assets/new/left-bar-list.png) no-repeat; 
    background-size: 100% 100%; 
  }
.me-head{
  width:      50px;
  height:     50px; 
  position:relative;top:10px; left:10px;}
    .me-info{width:110px; height:50px; position:absolute; left:70px; top:10px;}
    .me-info span.me-name{display:block;width:100%; overflow:hidden; height:23px; font-size:20px;}
    .me-info span.me-papersum , .me-info span.me-myfriends{display:block; float:left;width:27px; height:27px;line-height:27px; text-indent:25px; padding-top:5px; background:url(/assets/new/basicinfo-icon.png) no-repeat left 5px; background-size:56px 27px; overflow:visible; cursor:pointer; }
    .me-info span.me-myfriends{position:relative; left:27px; background:url(/assets/new/basicinfo-icon.png) no-repeat -27px 5px; text-indent:29px; background-size:56px 27px; }
.users-myfriends { position:relative; width:100%;top:15px;}
    .users-myfriends li {height:56px; width:180px;  position:relative; box-shadow:0px 1px rgba(0,0,0,0.8),0px 2px rgba(255,255,255,0.15);  }
    .users-myfriends li.clicked {height:56px; width:180px;  background:url(/assets/new/left-bar-list.png) no-repeat; background-size:180px 56px;}
    .users-myfriends li img { display:inline-block;  height:35px;width:35px; margin:8px;position:relative; left:8px;}
    .users-myfriends li span{ display:block; position:absolute; left:70px; top:16px; color: white; font-family: "arial" "黑体";}
/*top --end!!templates*/

.tag-nav{ position:absolute;top:0px; bottom:0px;  width:100%;height:100%; overflow: hidden;}
    .index-upload {position:relative;   cursor: pointer; width:100%;}
        .index-upload form input { display:block; margin:0 auto; overflow:hidden;  }
        .index-upload form input.upload{ width:100%; height:3em; font-size:1em;text-indent:-10000em; background:url(/assets/new/upload-bg.png) center no-repeat; background-size:100% 100%;border:0px;   cursor: pointer; }
    .papers{position:absolute; bottom:0px; width:100%; height: 320px;}
    .papers > ul{position:absolute; top:0px; width:100%; }
    .tag-nav li { width:100%; position:relative;height:3em; margin:0px; margin-top:-3px; background:url(/assets/new/tag-list-bg.png) no-repeat center top; background-size:100% 100%;}
    .tag-nav li > div > a { padding: 0.3em 2.5em; display:block;  line-height:1.2em; font-size:1em;height:2.4em; text-align: left; font-family:"arial";  color: #707070; word-wrap:break-word; overflow:hidden; text-shadow:0px 1px 1px rgba(0,0,0,0.3);}
    .tag-nav li .tag-color{height:2.5em; width:2.375em; position:absolute;float:right; top:-0.3em;right: 0px; }
    .tag-nav li .tag-color img{height:100%; width:100%; }
    .tag-nav li .star { top:0.8em; height:1.375em; width:1.375em; position:absolute; float:left; font-size:1em; margin: 0 0.5em; }
    .tag-nav li .star img {height:100%; width:100%; }
    .more-bg{ width:100%;height:148px;; position:relative;margin-top:-3px;}
    .more-bg img{height:100%; position:relative; width:100%;}
.recent-box{ position:absolute; bottom:0px;  width:100%; height:96px; background:url(/assets/new/tag-box.png) no-repeat center top;
 background-size: 100% 100%;}
    .recent-box h1{position:relative; width:100%; top:75px; text-align:center; font-family:"黑体"; font-size:16px; font-weight:200; color:#630 ;}
    .tag-more a{ display:block;width:100%; text-align:center; position:relative; top:30px;}
    .tag-more a img{ width:28px;height:6px;}



.logo{font-family:Verdana, Geneva, sans-serif; font-size:25px; color: #630; height:60px; line-height:60px;text-align:center; float:left; text-shadow:1px 1px 0px rgba(255,255,255,0.2); }



				
.freshthings ul{margin:0px 5px;}
.freshthings li{background-color: #E4E4E4; padding:8px; margin-bottom:10px; border-radius:6px; background:rgba(255,255,255,0.77); box-shadow:1px 1px 4px rgba(0,0,0,0.3),inset 2px 2px 15px #FFF;}
.freshthings .header-img{position:absolute; border-radius:6px; }
.freshthings div{position:relative; margin-left:55px; font-size:14px; clear:both; width:auto;} 
.freshthings .status span{color:#666; font-family:"微软雅黑" arial; font-size:12px;}
.freshthings .status .username{color: #630; font-size:14px; font-weight:200; font-family:"微软雅黑" arial;}
.freshthings .coment-content{top:5px;  min-height:35px; border:1px solid #CCC; padding:3px; text-indent:1em; color:#999; background-color:rgba(255,255,255,0.2); border-radius:4px; }
.freshthings .coment-info{margin-top:10px;  color: #39C; font-size:12px;}
.freshthings .action{float:right; display:inline;}
.freshthings .action a{position:relative; margin-right:5px;}

.index-friends ul {text-align:center; position:relative; left:50%; float:left;   }
.index-friends li {float:left; position:relative; left:-50%;display:inline; margin-left:5px; margin-top:5px; margin-bottom:5px; }
.index-friends li:last-child {margin-right:5px;}
.index-friends li a { display:block;  height:20px; line-height:20px; color:#999; text-align:center; font-size:12px; color: #fff; }

#tinybox{position:absolute; display:none; padding:10px; background:url(/assets/preload.gif) no-repeat 50% 50%; z-index:2000;}
#tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000000; z-index:1500;}
#tinycontent{background:#ffffff; font-size:1em;}

.desktop { position: absolute; left: 180px; top: 0px; right: 0px; height: 100%; ; overflow: hidden;
  background: url(/assets/bg-light.png) top center no-repeat,  
              url(/assets/bg-shadow.png) bottom no-repeat, 
              url(/assets/desk.png); 
  background-size: auto,cover,auto;
  box-shadow: inset 2px 0px 100px rgba(0,0,0,0.4); 
}
.folders-wrapper { width: 89%; height: 100%; margin: 0 auto; }
.folders { float: left; width: 100%; height: 100%; overflow: hidden; } /* the width will be determined at runtime*/
.folders > ul { height: 100%; width: 100%; display: block; float: left; width: 100%; height: 100%;}
.folder { display: block; float:left; height:100%; width: 47.5%; position: relative; margin: 0 1.25% 0 1.25%;}

.add-tag { position:absolute; bottom:0px; width: 100%; height:96px; background:url(/assets/new/tagadd-box.png) no-repeat center bottom; background-size: 90% 90%; }
.add-tag span{width:24px; height:23px;  position:relative; left: 50%; top: 50%; margin: 0 0 0 -12px;}
.add-tag span a img{ width:24px; height:23px; }
