@charset "utf-8";
/* z-index levels */
$users-z-index: 1000;
$users-width:   210px;
/* CSS Document */
html, body { 
  position:   relative; 
  width: 100%; 
  height:100%; 
  overflow:   hidden; 
  background: url(/assets/desk.png);
  font-family: "arial" "微软雅黑";
}
.topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  //background: url(/assets/desk.png), url(/assets/new/light.png)  no-repeat center center; 
  background: url(/assets/new/light.png) top center no-repeat,  
              url(/assets/desk.png); 
  background-size: cover, auto;
  box-shadow: inset 2px 0px 100px rgba(0,0,0,0.4); 
  z-index: 5000;
  box-shadow: 0px 0px 30px 5px rgba(93, 13, 9, 0.47), 
              inset 0px -4px 5px 1px rgba(255, 199, 139, 0.55),
              0px 5px 10px 2px rgba(248, 126, 97, 0.1);
}
.topbar > .wrapper  { width: 89%; margin: 0 auto;color:#783d1d; }
.one-column { height: 100%; float: left;  }
//.topbar > .one-column:first-child { margin-left: 5.5%; }
.topbar .one-column > .wrapper { margin: 3px auto; width: 94%; height: 50px; position: relative;}
  .my-head {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 46px;
    height: 46px;
  }
  .my-head > img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .my-info {
    position: absolute;
    top: 0px;
    left: 3.75em;
    right: 1em;
    height: 16px;
  }
    .my-info > div { 
      width: 33.3%; 
      height: 100%; 
      float: left; 
      text-align: left; 
      font-size: 16px; 
      line-height: 1.25; 
    }
    .my-info-name {
    
    
    }
    .my-info-papers { 
      box-sizing: border-box;
      padding-left: 24px;
      background-size: 17px 16px;
      background: url(/assets/new/box.png) no-repeat left center; 
    }
    .my-info-friends {
      box-sizing: border-box;
      padding-left: 32px;
      background-size: 25px 16px;
      background: url(/assets/new/friends.png) no-repeat left center; 
    }
  .my-search {
    position: absolute;
    top: 14px;
    left: 3em;
    right: 3px;
    height: 38px;
  }
  .my-search-corner {
    position: absolute;
    top: 0px;
    height: 38px;
    width: 20px; 
    background: url(/assets/new/search-corner.png) no-repeat left center;
    background-size: 20px 38px;
  }
  .my-search-corner.left {
    left: 0px;
    transform: scale(-1.0, 1);
    -webkit-transform: scale(-1.0, 1);
    -ms-transform: scale(-1.0, 1);
    -o-transform: scale(-1.0, 1);
    -moz-webkit-transform: scale(-1.0, 1);
  }
  .my-search-corner.right {
    right: 0px;
  }
  .my-search-body {
    background: url(/assets/new/search-body.png) repeat-x center center;
    background-size: 7px 38px; 
    position: absolute;
    top: 0px;
    left: 20px;
    right: 20px;
    height: 100%;
  }
  .my-search-body > input {
    -webkit-appearance: none;
    border: none;
    outline: 0;
    background: transparent;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    padding-left: 16px;
    height: 20px;
  }
  .my-search-icon {
    position: absolute;
    top: 11px;
    left: 15px;
    width: 17px;
    height: 17px;
    background: url(/assets/new/search.png) no-repeat center center;
    background-size: 17px 17px;
  }
.friends > .wrapper > ul{
  width: 2000px;
  height: 100%;
}
  .friend {
    float: left;
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .friend > img {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0px;
    left: 7px;
    border-radius: 6px;
  }
  .friend-name {
    position: absolute;
    top: 36px;
    left: 0px;
    width: 100%;
    height: 14px;
    font-size: 12px;
    line-height: 1.6666666667;
    text-align: center;
  }
.users{
  position:   absolute;
  z-index:    $users-z-index;
  left:       0px;
  top:        0px;
  height:     100%;
  background: url(/assets/new/users-bg.png) repeat-y;
  background-size:  100% 100%;
  width:      $users-width;
}
  .users-me{
    height:     70px;
    width:      180px;
    position:relative;
    font-size:  1em;
    color:      #fff;
    
    box-shadow: 0px 1px rgba(0,0,0,0.8),
                0px 2px rgba(255,255,255,0.15);
  }
  .users-me.clicked {
    background: url(/assets/new/left-bar-list.png) no-repeat; 
    background-size: 100% 100%; 
  }
.me-head{
  width:      50px;
  height:     50px; 
  position:relative;top:10px; left:10px;}
    .me-info{width:110px; height:50px; position:absolute; left:70px; top:10px;}
    .me-info span.me-name{display:block;width:100%; overflow:hidden; height:23px; font-size:20px;}
    .me-info span.me-papersum , .me-info span.me-myfriends{display:block; float:left;width:27px; height:27px;line-height:27px; text-indent:25px; padding-top:5px; background:url(/assets/new/basicinfo-icon.png) no-repeat left 5px; background-size:56px 27px; overflow:visible; cursor:pointer; }
    .me-info span.me-myfriends{position:relative; left:27px; background:url(/assets/new/basicinfo-icon.png) no-repeat -27px 5px; text-indent:29px; background-size:56px 27px; }
.users-myfriends { position:relative; width:100%;top:15px;}
    .users-myfriends li {height:56px; width:180px;  position:relative; box-shadow:0px 1px rgba(0,0,0,0.8),0px 2px rgba(255,255,255,0.15);  }
    .users-myfriends li.clicked {height:56px; width:180px;  background:url(/assets/new/left-bar-list.png) no-repeat; background-size:180px 56px;}
    .users-myfriends li img { display:inline-block;  height:35px;width:35px; margin:8px;position:relative; left:8px;}
    .users-myfriends li span{ display:block; position:absolute; left:70px; top:16px; color: white; font-family: "arial" "微软雅黑";}
/*top --end!!templates*/

.tag-nav{ position:absolute;top:0px; bottom:0px;  width:100%;height:100%; overflow: hidden;}
    .index-upload {position:relative; width:100%; background:url(/assets/new/upload-bg.png) no-repeat center center; background-size:100% 100%; height: 3em; opacity: 0.7;}
        .index-upload input { display:block; overflow:hidden; width:100%; height: 100%; font-size:1em; text-indent:-10000em; }
    .papers{position:absolute; bottom:84px; width:100%; height: 320px;}
    .papers > ul{position:absolute; top:0px; width:100%; }
    .tag-nav li { width:100%; position:relative;height:3em; margin:0px; margin-top:-2px; background:url(/assets/new/tag-list-bg.png) no-repeat center top; background-size:100% 100%;}
    .tag-nav li .title {  width: 100%; overflow:hidden; height: 36px; padding: 4px 0;}
    .tag-nav li .title > a {
      display: block;
      padding: 0.3em 2.5em ;
      word-wrap:break-word; line-height:1.2em; font-size:0.9em; text-align: center;  color: #494848;   font-weight:600; 
     text-shadow:1px 1px 1px rgba(0,0,0,0.2);
    }
    .tag-color{
      height: 2.5em; 
      width: 2.375em; 
      position:absolute;
      top:-0.3em;
      right: 0px; 
      overflow: hidden;
      display: block;
      background-size: 400% 100%;
      background-image: url(/assets/new/tag-color.png);
      background-repeat: no-repeat;
    }
    .tag-color-grey {
      background-position: 0 0;
    }
    .tag-color-green {
      background-position: -38px 0;
    }
    .tag-color-blue {
      background-position: -76px 0;
    }
    .tag-color-red {
      background-position: -114px 0;
    }
    .tag-nav li .star {
      top:0.8em; 
      height:1.375em; 
      width:1.375em; 
      position:absolute; 
      font-size:1em; 
      margin: 0 0.5em; 
      background-image: url(/assets/new/star-bg.png);
      background-repeat: no-repeat;
      background-size: 200% 100%;
    }
    .star-yellow {
      background-position: 0px 0px;
    }
    .star-white {
      background-position: -1.375em 0px;
    }
    .more-bg{ width:100%;height:148px; position: absolute; bottom: -146px;}
    .more-bg img{height:100%; position: relative; width:100%; }
.recent-box{ position:absolute; bottom:0px;  width:100%; height:96px; background:url(/assets/new/tag-box.png) no-repeat center top; background-size: 100% 100%;}
    .recent-box > div {position: absolute; width:89%; left: 5.5%; margin: 0 auto;top:52px; text-align:center;  font-size:20px; font-weight:200; color:#630 ; line-height: 150%; }
    .tag-more a{ display:block;width:100%; text-align:center; position:relative; top:30px;}
    .tag-more a img{ width:28px;height:6px;}



.logo{font-family:Verdana, Geneva, sans-serif; font-size:25px; color: #630; height:60px; line-height:60px;text-align:center; float:left; text-shadow:1px 1px 0px rgba(255,255,255,0.2); }



				
.freshthings ul{margin:0px 5px;}
.freshthings li{background-color: #E4E4E4; padding:8px; margin-bottom:10px; border-radius:6px; background:rgba(255,255,255,0.77); box-shadow:1px 1px 4px rgba(0,0,0,0.3),inset 2px 2px 15px #FFF;}
.freshthings .header-img{position:absolute; border-radius:6px; }
.freshthings div{position:relative; margin-left:55px; font-size:14px; clear:both; width:auto;} 
.freshthings .status span{color:#666; font-family:"微软雅黑" arial; font-size:12px;}
.freshthings .status .username{color: #630; font-size:14px; font-weight:200; font-family:"微软雅黑" arial;}
.freshthings .coment-content{top:5px;  min-height:35px; border:1px solid #CCC; padding:3px; text-indent:1em; color:#999; background-color:rgba(255,255,255,0.2); border-radius:4px; }
.freshthings .coment-info{margin-top:10px;  color: #39C; font-size:12px;}
.freshthings .action{float:right; display:inline;}
.freshthings .action a{position:relative; margin-right:5px;}

.index-friends ul {text-align:center; position:relative; left:50%; float:left;   }
.index-friends li {float:left; position:relative; left:-50%;display:inline; margin-left:5px; margin-top:5px; margin-bottom:5px; }
.index-friends li:last-child {margin-right:5px;}
.index-friends li a { display:block;  height:20px; line-height:20px; color:#999; text-align:center; font-size:12px; color: #fff; }

#tinybox{position:absolute; display:none; padding:10px; background:url(/assets/preload.gif) no-repeat 50% 50%; z-index:2000;}
#tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000000; z-index:1500;}
#tinycontent{background:#ffffff; font-size:1em;}

.desktop { position: absolute; left: 0px; top: 56px; right: 0px; bottom: 0px ; overflow: hidden;
  background: url(/assets/bg-light.png) top center no-repeat,  
              url(/assets/bg-shadow.png) bottom no-repeat; 
  background-size: auto,cover;
  box-shadow: inset 2px 0px 100px rgba(68,21,4,0.5); 
}
.folders-wrapper { width: 89%; height: 100%; margin: 0 auto; }
.folders { float: left; width: 100%; height: 100%; overflow: hidden; } /* the width will be determined at runtime*/
.folders > ul { height: 100%; width: 100%; display: block; float: left; width: 100%; height: 100%;}
.folder { display: block; float:left; height:100%; width: 47.5%; position: relative;}

.add-tag { position:absolute; bottom:0px; width: 100%; height:96px; background:url(/assets/new/tagadd-box.png) no-repeat center bottom; background-size: 90% 90%; opacity: 0.7;}
.add-tag img{ position: absolute; top: 50%; left: 50%; margin-left:-15px; width:29px; height: 31px;}
.iscroll-scrollbar {
  border: none;
}
