* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u3_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u6_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u9_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u9_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u9_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u9_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u9_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u9_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u21_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u23_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u25_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u43_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主页_files/u46_normal.png");
}

