@charset "utf-8";
/* CSS Document */
.tag-man-head{ position:relative; width:100%; background-color:#CCC;}
.tag-man-content{}
.tag-man-content{position:relative;}
.tag-man-search{ background-color:#09C; text-align:center; }
